.main-layout-topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  padding: 0 1rem;
  border-bottom: 1px solid var(--text-lighter);
}

.main-layout-nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
