.follow-button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.not-following-button:hover {
  background-color: var(--text-light) !important;
  color: var(--bg-main);
  border-color: var(--bg-main);
}