.article-preview-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.article-preview-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.article-author-image {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid var(--primary);
  border-radius: 2.5rem;
}

.article-preview-details {
  display: flex;
  flex-direction: column;
}

.article-author-username {
  color: var(--primary);
  font-weight: 600;
  font-size: 1rem;
  background-color: none;
  text-decoration: none;
}

.article-author-username:hover {
  text-decoration: underline;
  color: var(--primary-hover);
}

.article-preview-created-at {
  color: var(--text-muted);
  font-size: 0.9rem;
}