.article-preview-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.article-preview-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
