.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  max-width: 500px;
}

.main-layout-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  flex: 1;
}

/* TODO add some postcss custom-media variables to centralize values of those widths  */ 
@media (min-width: 544px) {
  .main-layout {
    max-width: 504px;
  }
}

@media (min-width: 768px) {
  .main-layout {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .main-layout {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .main-layout {
    max-width: 1140px;
  }
}
