.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
}

@media (min-width: 544px) {
  .main-layout {
    max-width: 504px;
  }
}

@media (min-width: 768px) {
  .main-layout {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .main-layout {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .main-layout {
    max-width: 1140px;
  }
}
