.main-layout-footer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 3rem;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--text-lighter);
  font-size: 11px;
}

.company-link {
  color: var(--primary);
}

.author-name {
  color: var(--text-muted);
}

@media (min-width: 544px) {
  .main-layout-footer {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .main-layout-footer {
    font-size: 14px;
  }
}
